body {
  color: rgb(187,187,187);
}

/* ============ */
/* D3 BAR CHART */
/* ============ */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/* =========== */
/* LEAFLET MAP */
/* =========== */
/*
#map {
  height: 600px;
	width: 600px;
}
*/
