<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>theGoodParts</title>
  <link rel="stylesheet" href="/src/styles/app.css">
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> -->
</head>
<body>

  <div class="chart"></div>
	
  <!--
	<script type="template/text" id="climate_basin">
		<li>
      <h1>
        <%= title %>
      </h1>
      <p>
        <%= body %>
      </p>
    </li>
	</script>
  -->

  <script src="/bower_components/requirejs/require.js" data-main="/src/requirejs/config"></script>
  <script>document.write('<script src="http://' + location.hostname + ':35729/livereload.js?snipver=1"><\/script>')</script>
</body>
</html>
